*{
    margin: 0;
    padding: 0;
}
body{
    background: url(file:///C:/Users/anjali/Pictures/tree-736885_960_720.webp) ;
    background-size: 100%;
}
div.main{
    width: 400px;
    margin: 100px auto 100px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 5px auto 5px auto black;
    color: cornsilk;
}
form#register{
margin: 35px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1pxsolid lightgray;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color:white ;
    box-shadow: inset 1px 1px 5px;

}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color:blueviolet;
    color: white;
    cursor: pointer;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px 
    margin-bottom: 20px;

}
label,span,h2{
    text-shadow: 1px 1px 1px ;
}